//COULEURS

$couleur15: hsla(60, 15%, 88%, 0.635); //backgroundgradient
$couleur1: #F8F0EC; //backgroundheader
$couleur2: #AA7975; //contact
$couleur3: #333231; //titres
$couleur4 : #E0D8D6; //background


// POLICES

$policetitre: ('Special Elite', cursive);
$policetexte: ('Nanum Gothic', sans-serif);
$policetitre1: ('Uchen', serif);

$police1: ('Poppins', sans-serif);
$police2: ('Lato', sans-serif);

// Small tablets and large smartphones (landscape view)
// J'AI UTILISE 516/517px vu la taille du background de l'accueil
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// 2K and higher screens
$screen-xxl-min: 1800px;

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin flex($align: stretch, $justify: flex-start, $flex-flow: row nowrap) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align;
  justify-content: $justify;
}

// Pour le parcours : 
@mixin tablet-and-up {
  @media screen and (min-width: 769px) { @content; }
}

@mixin mobile-and-up {
  @media screen and (min-width: 601px) { @content; }
}

@mixin tablet-and-down  {
  @media screen and (max-width: 768px) { @content; }
}

@mixin mobile-only {
  @media screen and (max-width: 600px) { @content; }
}