/* ======================
======= GLOBAL ======= 
=========================*/

h1 {
    background-color: rgb(240, 240, 240);   
    text-align: center;
}

.conteneur_haut {
    border: solid 1px slateblue;
    display: flex;
}

/* ======================
======= DIV GAUCHE ======= 
=========================*/

.div_gauche {
    background-color: rgb(212, 212, 212);
    margin-right: 1rem;
    padding: .5rem;
    width: 25%;
}

.h1_gauche {
    text-align: center;
    background-color: rgb(240, 240, 240);   
}

.p_gauche::first-letter {
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
    padding-right: 1rem;
}

/* ======================
======= DIV MILIEU ======= 
=========================*/

.div_milieu {
    padding: 1rem;
    background-color: rgb(190, 190, 190);
}

.div_milieu_haut {
    background-color: rgb(212, 212, 212);
}

.div_milieu_bas {
    background-color: rgb(212, 212, 212);
}

.p_milieu_bas {
    padding: .5rem;
    width: 66%;
    text-align: justify;
    border-left: solid;
    border-right: solid;
}

/* ======================
======= DIV DROITE ======= 
=========================*/

.div_droite {
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    margin-left: 1rem;
    width: 25%;
}

.p_droite {
    text-align: right;
}

/* ======================
======= DIV DU BAS ======= 
=========================*/

.div_bas {
    margin-top: 3rem;
    position: absolute;
    width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.titre_bas {
    text-align: center;
    font-style: italic;
    background-color: rgb(240, 240, 240);
}

.p_bas {
    text-align: center;
}