.conteneur_haut {
    border: solid 1px slateblue;
    display: flex;
}

.div_bas {
    position: absolute;
    width: 80vw;
    margin-left: 50%;
    transform: translate(-50%);
    bottom: 0;    
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: rgb(212, 212, 212);
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.titre_bas {
    text-align: center;
    font-style: italic;
    background-color: rgb(240, 240, 240);
}

.p_bas {
    text-align: center;
}